/*
.topnav {
    background-color: white;
    overflow: hidden;
}
*/

@font-face {
    font-family: myFirstFont;
    src: url("sources/MADE TOMMY Black_PERSONAL USE.otf");
}

body {
    background-image: linear-gradient(to right, #192a51, #416788, #67b6d9);
    padding-top: 180px;
    box-sizing: border-box;
}

/*
.topnav :hover {
    background-color: #ddd;
}
*/

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-height: 110;
    max-width: 110;
}


#texto-principal {
    font-family: myFirstFont;
    font-size: 47;
    color: white;
}

::placeholder {
    color: white;
}

.caixa {
    height: fit-content;
    width: 325px;
    background-color: transparent;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caixa_container {
    display: flex;
    width: fit-content;
    gap: 70px;

}

@media screen and (max-width:800px) {
    .caixa_container {
        flex-direction: column;
        gap: 10px;
    }

}

input::-webkit-calendar-picker-indicator {
    opacity: 100;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

*:focus {
    outline: none;
    border-radius: 30px;
}

#divisor {
    font-size: 30;
    color: lightgray;
    opacity: 60%;
    position: relative;
    top: 3;
}

input {
    padding: 10px;
    color: white;
    height: 44px;
    width: 150px;
    border-style: hidden;
    background-color: transparent;
}

select {
    height: 44px;
    width: 150px;
    background: transparent;
    color: white;
    border: hidden;
    border-radius: 30px;
}

select option {
    color: black;
    background-color: lightgrey;
    font-weight: 500;
    box-shadow: 0px 0px 15px 6px #b7dcec48;
}

.caixa:hover {
    box-shadow: 0px 0px 15px 6px #b7dcec48;
}